body{
 margin: 0%;
 padding: 0%;
 background-image: url(../angular_node/images/bg2.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;
 width: 100%;

}

h1{
    text-align: center;
    color: white;

}
a{
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: black;
    opacity: 50%;

  }
  
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
