
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

:root{
    --background-color: hsl(229, 57%, 11%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Gradient:(hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Pale-Blue: hsl(243, 100%, 93%);
}





body{
    background-color:var(--background-color);
    background-image: url(..//fylo-data-storage-component-master/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 378px;
    font-size: 13px;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    text-align: left;
    width: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html,body{
    overflow-x: hidden;
}

.logo-container{
    background-color: var(--Dark-Blue);
    border-radius: 10px 100px 10px 10px;
    float: left;
    height:205px;
    margin-top:288px;
    margin-left: 260px;
    overflow: hidden; 
    position: relative;
    width: 352px;
}
.logo-img{
    margin-left: 35px;
    margin-top:38px;
}


.folder-container img{
    background-color: var(--background-color);
    background-position: center;
    border-radius: 10px;
    height: 46px;
    margin-left: 38px;
    margin-top: 34px;
    padding: 9px;
    width: 50px;
}

.range-container{
    background-color: var(--Dark-Blue);
    border-radius: 10px;
    height: 158px;
    margin-left: 25px;
    margin-top:335px;
    margin-left: 642px;
    width:557px ;
}
.text{
    color: hsl(243, 100%, 93%);
    font-size: 14px;
    font-weight: 200;
    margin-left: 35px;
    padding-top: 40px;
}
.range-box{
    background-color: var(--background-color);
    border-radius: 10px;
    height: 18px;
    margin-left: 35px;
    margin-top:15px;
    margin-bottom: 10px;
    padding:0.1em;
    width: 458px;
}
 p{
            color: var(--Pale-Blue);
            margin-left: 35px;
            word-spacing: 382px;
            
}
.range{
    background-color:pink;
    border-radius: 10px;
    height: 16px;
    width: 342px;
}

.top-container{
	align-items: center;
    background-color: white;
    border-radius: 10px;
    color: var(--background-color);
    display: flex;
    font-size: 20px;
	font-size: 32px;
	font-weight: bold;
    height: 75px;
    margin-left: 960px;
    margin-top: 289px;
    position: absolute;
    padding: 22px;
    width: 181px;
	padding: 15px 20px;
    text-align: center;
}


.dot{
    height: 15px;
    width: 12px;
    margin-left: 329px;
    background-color: white;
    border-radius: 50%;
    

}
.top-container > span {
	color: hsl(229, 7%, 65%);
	font-weight: bold;
	margin-left: 10px;
	text-transform: uppercase;
    font-size: 15px;
}

.top-container:before {
	content: "";
	position: absolute;
	border-right: 20px solid white;
	border-top: 20px solid white;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	bottom: -15px;
	right: 0px;
}