/*selecting based on html tag*/
h2{
    background-color: green;
    color: white;
}
h3{
    background-color: blue;
    color: white;
}
/*gruing of elements*/
h1,h3{
    color:black;

}

ul li{
    color:red;
}
/*selecting parent child*/
ul>li{
    color: blue;
}


li{
    color:green;
}
/*selecting parent element*/

.item{
color: pink;
}
/*selecting by id*/

#list-item{
    color: aqua;
}

/*selecting by type*/
input[type="email"]{
    background-color: yellowgreen;
}
input[type="text"]{
    background-color: brown;
}