
:root{
    --background-color:hsl(255,100%,94%);
    --bright-blue:hsl(245,75%,52%);
    --btn-box-shadow:5px 10px 20px hsl(245,75%,90%);
    --container-box-shadow:-2px 10px 24px -11px rgba(0,0,0,0.62);
    --dark-blue:hsl(223,47%,23%);
    --desaturated-blue:hsl(224,23%,55%);
    --red: red;
    --light-gray:rgb(136,133,133);
    --main-font:"Red Hat Display",sans-serif;
    --very-pale-blue:hsl(255,100%,98%);
    --white: rgb(255,255,255);
}
body{
    background-color:var(--background-color);
    background-image: url(..//challenges/order-summary-component-main/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    overflow-y: scroll;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}

.order-center-container{
    align-content: center;
    background-color: white;
    border-radius: 25px;
    height: 100vh;
    justify-content: center;
    margin-bottom: 100px;
    max-width: 28.3rem;
    max-height: 44rem;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 90%;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
    box-shadow: var(--container-box-shadow);
}

.order-header-image{
    background-image: url(../order-summary-component-main/images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    height: 100%;
    min-height: 14rem;
    overflow: hidden;
    width: 100%;
}

.order-title-container{
    color: var(--dark-blue);
    font-family: var(--main-font);
    height: 100%;
    max-height: 14rem;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    width: 80%;
}

.order-title-container h1{

    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;


}

.order-title-container p{
    color: var(--desaturated-blue);
    font-weight:lighter;
    line-height: 25px;
    margin-top: 1.2rem;

}

.order-pricing-container{
    align-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 900;
    flex-direction: row;
    font-family: var(--main-font);
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding: 1.5rem;
    width: 70%;
}

.music-img{
    background-image: url(../order-summary-component-main/images/icon-music.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3rem;
    width: 3.5rem;
}
.order-pricing-container .order-annual-plan{
    color: var(--dark-blue);
    margin-bottom: 1rem;
}
.order-pricing-container p{
    color: hsl(224,23%,55%);
    line-height: 10px;
}

.btn-change{
    background-color: transparent;
    color: var(--bright-blue);
    font-weight: 900;
    font-size: 1rem;
}

.btn-payment{
    background-color: var(--bright-blue);
    border: transparent;
    box-shadow: var(--btn-box-shadow);
    border-radius: 15px;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    min-width: 80%;
    margin-top: 2rem;
    padding: 1rem;
    width: 80%;
}

.btn-payment:hover,
.btn-cancel:hover,
.btn-change:hover{
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
}

.btn-cancel{
    background-color: transparent;
    border: none;
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 10rem;
    margin-top: 2rem;
}

.btn-cancel:hover{
    color: var(--red);
}
