body{
 background-image: url(../images/bg2.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 height: 100%;
 margin: 0%;
 padding: 0%;
 width: 100%;
}
h1{
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
    opacity: 70%;
    text-align: center;
}
h1:hover{
  font-size: 70px;
}
p{
    color: white;
    font-size: 25px;
    opacity: 70%;
    text-align: center;
}
a{
  color: white;
  text-decoration: none;
}
.topnav {
  background-color: black;
  overflow: hidden;
  opacity: 50%;
}
.topnav a {
    color: white;
    float: right;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
