@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
:root{
    --background-color:hsl(0, 0%, 81%);
    --container-box-shadow:-2px 10px 24px -11px rgba(0,0,0,0.62);
    --main-font:"Barlow Semi Condensed",sans-serif;
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

}
body{
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 13px;
    min-height: 100vh;
    overflow-y: scroll;
    text-align: left;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
}
html,body{
    overflow-x: hidden;
    text-align: left;
}
.top-left-container{
    background-image: url(..//testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-color: var(--Moderate-violet);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 300px;
    background-position-y: 0px;
    border-radius: 10px;
    box-shadow: var(--container-box-shadow);
    color: white;
    float: left;
    font-family: var(--main-font);
    height: 279px;
    justify-content: center;
    overflow: hidden; 
    margin-top:100px;
    margin-bottom: 25px;
    margin-left: 166px;
    position: relative;
    padding: 25px;
    text-align:left;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
    width: 542px;
}
.top-center-container{
    position: relative;
    box-shadow: var(--container-box-shadow);
    background-color: var(--Very-dark-grayish-blue);
    border-radius: 10px;
    font-family: var(--main-font);
    float: left;
    height: 279px;
    justify-content: center;
    margin-top:100px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    overflow: hidden; 
    padding: 25px;
    text-align: left;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
    width: 255px;

color:white
}
.right-container{

    background-color: var(--White);
    border-radius: 10px;
    box-shadow: var(--container-box-shadow);
    color: black;
    font-family: var(--main-font);
    justify-content: center;
    height: 566px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: left;
    position: relative;
    padding: 25px;
    overflow: hidden; 
    text-align: left;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
    width: 261px;
}
.bottom-left-container{

    background-color: var(--White);
    border-radius: 10px;
    box-shadow: var(--container-box-shadow);
    color:black;
    float: left;
    font-family: var(--main-font);
    height: 266px;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 165px;
    overflow: hidden; 
    padding: 25px;
    position: relative;
    text-align: left;
    width: 257px;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);
}
.bottom-center-container{
    background-color: var(--Very-dark-blackish-blue);
    box-shadow: var(--container-box-shadow);
    border-radius: 10px;
    color: white;
    font-family: var(--main-font);
    float: left;
    height: 264px;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden; 
    position: relative;
    padding: 25px;
    width: 538px;
    -webkit-box-shadow:var(--container-box-shadow);
    -moz-box-shadow:var(--container-box-shadow);

}
img{
    border-radius: 50%;
    display: flex;
    float: left;
}

header h2{
    color: var(--White);
    font-family: var(--main-font);
    font-size: 13px;
    margin-left:4rem;

}
.subhead{
    font-family: var(--main-font);

    margin-left: 4rem;
    opacity: 50%;
    padding-bottom:  30px;
}
p{
    color: white;
    font-family: var(--main-font);
    opacity: 70%;
    margin-top: 1rem;
}


